code p{
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px;
    font-size: 15px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.SwiftCodeBlock{
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    margin-left: 5px;
}

.Header{
    box-sizing: border-box;
    margin: 0;
    padding: 2px 10px;
    font-size: 13px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: rgb(245, 245, 245);
}

/* =================== Text ===================== */
.tab{
    padding-left: 20px;
}

/* =================== Color ==================== */
.purple{
    color: rgb(164, 75, 163);
    font-weight: 600;
}

.purpleLight{
    color: rgb(68,39, 170);
}

.blue{
    color: rgb(67, 133, 177);
}

.darkblue{
    color: rgb(34, 47, 211);
}

.red{
    color: rgb(193, 73, 42);
}