.sideDiv{
    box-sizing: border-box;
    overflow: hidden;
    width: 20%;
    height: inherit;
    position: absolute;
    right: 0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ececec;
}


.subscribe{
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    text-align: center;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 10px 0 10px;
    padding: 0px 10px 20px 10px;
    border-radius: 5px;
}

.subscribe input{
    height: 30px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 0px solid;
}

.subsHeader {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 5px;
}

.subsSubtext{
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
}

.subSumit{
    margin-top: 5px;
    background-color: #080149;
    color: white;
}

.subscribe p {
    margin: 0;
}

.ads{
    background-color: lavender;
    width: 100%;
    height: 600px;
    margin: 15px 10px;
}


@media only screen and (min-width: 2060px) {
    .sideDiv{
        width: 15%;
    }
}


@media only screen and (max-width: 1250px) {
    .sideDiv{
        width: 0%;
    }
}
