.sidebaritem{
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px;
    padding-bottom: 100px;
}
.sidebaritem img{
    width: 12px;
    transform: rotate(-90deg);
}

.sidebaritemText{
    box-sizing: border-box;
    display: block;
    margin: 10px 0 5px 0;
    text-decoration: none;
    color: #444444;
    font-size: 15px;
    font-weight: bold;
}

.sidebaritemText:hover{
    padding-left: 20px;
    background-color: #ececec;
    border-radius: 10px;
    
}

.subTitleTexts a {
    box-sizing: border-box;
    display: block;
    margin: 8px 0 10px 25px;
    text-decoration: none;
    color: #444444;
    font-size: 15px;
    
}

.subTitleTexts a:hover{
    background-color: #ececec;
    padding-left: 20px;
    border-radius: 10px;
}

