.dropdown{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.contentDiv{
    padding: 0px 50px 200px 50px;
}

.closeButtonDiv{
    position: absolute;
    right: 30px;
}

.closeButtonDiv{
    background:none;
    border:none;
    font-size: 20px;
}

.closeButtonDiv:hover{
    cursor: pointer;
    color: #c00000;
}
